@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

 

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  background-color: rgb(19, 17, 17);
  align-items: center;


}
body{
  background-color: #020202;
}
.cabecera{
color: #fff;
padding-top:200px;
text-align: center;
vertical-align: middle;
text-shadow: rgb(142, 133, 173) 0px 0px 10px;
font-size: xx-large;
}
h2{
  font-size: x-large;
  text-shadow: none;
  color: #3a5981;
}
h3{
  font-size: large;
  text-shadow: none;
  color: #3a5981;
}
a{
  text-decoration: none ;
  padding: 5px; 
 
}
a:link{
  color:darkslategray;
}
a:visited{
  
  color:  rgb(55, 50, 75);
}

a:hover{
  color: #6e8eb8;
}
a:active{
  background-color: rgb(91, 136, 145);

}

.Cajita{

  font-family: 'Lucida Sans Regular';
  text-align: center;
  display: flex;  
  background-color: #020202;
}
h1{
  color: rgb(236, 226, 226);
}
footer {
  align-items: center;
  
  color: rgb(226, 33, 33);
}

